apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "excalidraw.fullname" . }}
  labels:
    app: {{ include "excalidraw.name" . }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ include "excalidraw.name" . }}
  template:
    metadata:
      labels:
        app: {{ include "excalidraw.name" . }}
    spec:
      containers:
        - name: {{ .Chart.Name }}
          image: excalidraw/excalidraw@sha256:4a8f1eacfcb2308e90554ef346076b411c71b9d93db9506c8d3ef14dd320c661
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: 80
          resources:
{{ toYaml .Values.resources | indent 12 }}
