apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "excalidraw.fullname" . }}
  labels:
    app: {{ include "excalidraw.name" . }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ include "excalidraw.name" . }}
  template:
    metadata:
      labels:
        app: {{ include "excalidraw.name" . }}
    spec:
      containers:
        - name: {{ .Chart.Name }}
          image: excalidraw/excalidraw@sha256:799a087c87c11fede93c7f56dd8953e34e6c7979ffa9cfa4716d46cc152f7c29
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: 80
          resources:
{{ toYaml .Values.resources | indent 12 }}
